@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";
@import "variables";
@import "home";
@import "listings";
@import "item";
@import "bg";

* {
  box-sizing: border-box;
}

body {
  // font-family: 'Roboto', sans-serif;
  font-family: 'Montserrat', sans-serif;
  // font-family: 'Nunito', sans-serif;
  // font-family: 'Rajdhani', sans-serif;
}

#app {
  position: relative;
  z-index: 1;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 20px;
  color: white;

  .fa {
    font-size: 1rem;
    padding: 0 5px;
  }

  .left-menu {
    display: flex;
    align-items: center;

    a.logo {
      color: white;
      text-decoration: none;
      font-size: 2rem;
      font-weight: 400;
      margin-right: 20px;
    }

    .city {
      min-width: 1vw;
      position: relative;
      font-size: 1rem;
      font-weight: 300;
      cursor: pointer;

      .fa {
        transform: rotate(0deg);
        transition: all 0.2s ease-in-out;

        &.active {
          transform: rotate(180deg);
        }
      }

      .dropdown {
        position: absolute;
        background: #30286E;
        width: 100%;
        max-width: 130px;
        padding: 3px 0;
        visibility: hidden;
        opacity: 0;
        transition: all 0.2s ease-in-out;
        border-radius: 5px;

        &.active {
          visibility: visible;
          top: 20px;
          opacity: 1;
        }

        ul {
          li {
            padding: 3px 0;

            &:hover {
              color: red;
            }
          }
        }
      }
    }
  }

  .right-menu {
    display: flex;
    justify-content: center;
    align-items: center;

    .user-img {}

    .user-dropdown {
      cursor: pointer;
      padding: 0 15px;
    }

    .post-btn {
      color: white;
      background: $royal;
      padding: 15px 20px;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
@media screen and (max-width: 815px) {
  header {
    flex-flow: row;

    .left-menu {
      a.logo {
        font-size: 1.5rem;
      }

      .city {
        min-width: none;
      }
    }

    .right-menu {
      .post-btn {
        padding: 10px;
      }
    }
  }
}
@media screen and (max-width: 750px) {
  header {
    .fa {
      font-size: 0.8rem;
    }

    .left-menu {
      a.logo {
        font-size: 1rem;
      }

      .city {
        min-width: none;
        position: relative;
        font-size: 0.7rem;

        .fa {
          font-size: 0.8rem;
        }
      }
    }

    .right-menu {
      font-size: 0.7rem;

      .post-btn {
        padding: 10px;
      }
    }
  }
}
@media screen and (max-width: 490px) {
  header {
    .left-menu {
      a.logo {
        font-size: 0.8rem;
      }

      .city {
        min-width: none;
        position: relative;
        font-size: 0.6rem;
      }
    }

    .right-menu {
      font-size: 0.6rem;

      .post-btn {
        padding: 10px;
      }

      .fa {
        display: none;
      }

      .user-dropdown {
        display: none;
      }
    }
  }
}